{% extends 'layouts/layout.html' %}
{% block content %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Сообщения</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'main' %}">Home</a></li>
                        <li class="breadcrumb-item active">Blank Page</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Сообщения</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            {% if my_messages %}
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover text-nowrap">
                                        <thead>
                                        <tr>
                                            <th style="width: 30px">#</th>
                                            <th>Дата отправки</th>
                                            <th>Статус</th>
                                            <th>id клиента</th>
                                            <th>id рассылки</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for message in my_messages %}
                                            <tr>
                                                <td>{{ message.id }}</td>
                                                <td>{{ message.created }}</td>
                                                <td>{{ message.status }}</td>
                                                <td>{{ message.client.id }}</td>
                                                <td>{{ message.notice.id }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% else %}
                                <p>Сообщений пока нет...</p>
                            {% endif %}
                        </div>
                    </div>
                    <!-- /.card -->

                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
{% endblock content %}

